@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --greenBorder: #8BAEAC
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-greeenborder: var(--greenBorder);
  --font-sans: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-sans);
}
